.project__main__container h1 {
    font-size: 24px;
    margin: 20px;
}

.project__main__container h3 {
    margin: 10px;
}


.project__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.project__container p {
    text-align: center;
    margin: 15px;
}

.project__container a {
    text-decoration: none;
    color: rgb(41, 125, 199);
    margin: 0 auto;
}


.project__container span {
    display: flex;
    justify-content: center;
}

.project__image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project__image img {
    width: 360px;
    height: 200px;
    margin: 20px;
}

html {
    overflow-x: hidden;
    width: 100%;
}