.project__main__container h1 {
    font-size: 24px;
    margin: 20px;
}

.project__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.project__image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project__image img {
    width: 360px;
    height: 200px;
    margin: 20px;
}