.mappedAbout__container {
    margin-top: 20px;
    font-size: 13px;
    color: rgb(111, 109, 109);
}

.about__container {
    display: flex;
    align-items: center;
}

.about__container div {
    margin: 10px 5px 5px 20px;
}

.about__container img {
    height: 30px;
    width: 30px;
}

.about__container___blue {
    display: flex;
    align-items: center;
    color: #5383e9;
}

.about__container___blue div {
    margin: 10px 5px 5px 20px;
}

.about__container___blue img {
    height: 20px;
    width: 20px;
}
