.header__container {
    background: #3b5998;
    color: #ffffff;
    height: 45px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.header__container div img {
    max-height: 30px;
    max-width: 30px;
    margin: 0 20px;
}