.icon__container {
    display: flex;
    justify-content: space-around;
    margin: 130px 20px 0 20px;
}

.icon__container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
}

.icon__container img {
    max-height: 30px;
    max-width: 30px;
    background: rgba(216, 214, 214, 0.577);
    border-radius: 50%;
    padding: 8px;
    margin-bottom: 5px;
}

.icon__container img:hover {
    background: rgb(118, 151, 233);
}